@charset "UTF-8";
/*
===========================
CONTEÚDO:

* Configurações iniciais
* Ferramentas
* Genérico
* Base
* Componentes
* Outros // "Trumps"
===========================

Baseado na arquitetura ITCSS: 

https://speakerdeck.com/dafed/managing-css-projects-with-itcss
http://www.hugobessa.com.br/posts/ITCSS-uma-maneira-de-pensar-arquiteturas-css/

*/
/*
 * Configurações iniciais
 */
/*------------------------------------*\
	#COLORS
\*------------------------------------*/
/*
 * Ferramentas
 */
/*------------------------------------*\
	#MIXINS
\*------------------------------------*/
/*------------------------------------*\
	#HELPERS
\*------------------------------------*/
/*
 * Genérico
 */
/*------------------------------------*\
	#BOX SIZING
\*------------------------------------*/
/* line 5, ../src/sass/utils/_box-sizing.scss */
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*------------------------------------*\
  #NORMALIZE
\*------------------------------------*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 13, ../src/sass/utils/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 23, ../src/sass/utils/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 49, ../src/sass/utils/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 71, ../src/sass/utils/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 93, ../src/sass/utils/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 102, ../src/sass/utils/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 113, ../src/sass/utils/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 122, ../src/sass/utils/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 130, ../src/sass/utils/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 139, ../src/sass/utils/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 148, ../src/sass/utils/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 157, ../src/sass/utils/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 166, ../src/sass/utils/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 173, ../src/sass/utils/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 177, ../src/sass/utils/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 188, ../src/sass/utils/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 207, ../src/sass/utils/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 215, ../src/sass/utils/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 225, ../src/sass/utils/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 236, ../src/sass/utils/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 260, ../src/sass/utils/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 270, ../src/sass/utils/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 282, ../src/sass/utils/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 297, ../src/sass/utils/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 307, ../src/sass/utils/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 316, ../src/sass/utils/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 326, ../src/sass/utils/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 339, ../src/sass/utils/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 351, ../src/sass/utils/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 361, ../src/sass/utils/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 375, ../src/sass/utils/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 383, ../src/sass/utils/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 394, ../src/sass/utils/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 403, ../src/sass/utils/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 412, ../src/sass/utils/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 423, ../src/sass/utils/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 429, ../src/sass/utils/_normalize.scss */
td,
th {
  padding: 0;
}

/*
 * Base
 */
/*------------------------------------*\
	#PAGE
\*------------------------------------*/
/* line 5, ../src/sass/layout/_page.scss */
html {
  font-size: 62.5%;
}

/* line 10, ../src/sass/layout/_page.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 16, ../src/sass/layout/_page.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.66;
  font-weight: 400;
  color: #a3a3a3;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* line 28, ../src/sass/layout/_page.scss */
::selection {
  color: #434343;
  background: #c7c18c;
  /* WebKit/Blink Browsers */
}

/* line 33, ../src/sass/layout/_page.scss */
::-moz-selection {
  color: #434343;
  background: #c7c18c;
  /* Gecko Browsers */
}

/*------------------------------------*\
	#WRAPPERS
\*------------------------------------*/
/* line 5, ../src/sass/layout/_wrappers.scss */
section {
  padding: 60px 0 0;
  position: relative;
  z-index: 10;
  background: white;
}

/* line 12, ../src/sass/layout/_wrappers.scss */
.wrapper {
  height: 100%;
  position: relative;
}

/* line 17, ../src/sass/layout/_wrappers.scss */
.content {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10;
}

/* line 25, ../src/sass/layout/_wrappers.scss */
.sections-wrapper {
  background: url('../images/bg-about.jpg?1428435457');
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-color: white;
  margin-bottom: 182px;
}

/* line 34, ../src/sass/layout/_wrappers.scss */
.container {
  max-width: 1020px;
  padding: 0 20px;
  position: relative;
  margin: 0 auto;
}

/* line 41, ../src/sass/layout/_wrappers.scss */
.slide-container {
  max-width: 800px;
  padding: 0 20px;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  /* line 49, ../src/sass/layout/_wrappers.scss */
  .sections-wrapper {
    margin-bottom: 0;
  }
}
@media (max-width: 1100px) {
  /* line 56, ../src/sass/layout/_wrappers.scss */
  .content {
    background-position: center top !important;
    background-size: contain;
    background-attachment: scroll;
  }
}
/*------------------------------------*\
	#TYPE
\*------------------------------------*/
/* line 6, ../src/sass/layout/_type.scss */
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #434343;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 13, ../src/sass/layout/_type.scss */
h2 {
  font-size: 4rem;
  line-height: 1.25;
}

/* line 18, ../src/sass/layout/_type.scss */
h3 {
  font-size: 2.4rem;
}

/* line 22, ../src/sass/layout/_type.scss */
.section-title {
  font-size: 2rem;
  line-height: 1.3;
}

/* line 27, ../src/sass/layout/_type.scss */
.slide-title {
  font-family: 'Oswald', sans-serif;
  font-size: 6rem;
  font-weight: normal;
  line-height: 1.35;
  letter-spacing: 2px;
  color: white;
  position: relative;
}

/* line 37, ../src/sass/layout/_type.scss */
.slide-about {
  font-size: 2.4rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  border-bottom: solid 5px;
  padding: 0 15px 20px;
  display: inline-block;
  position: relative;
}

/* line 51, ../src/sass/layout/_type.scss */
.sub-title,
.nav-bar a,
.back {
  font-size: 1.6rem;
  line-height: 1.625;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

/* line 59, ../src/sass/layout/_type.scss */
p {
  font-size: 1.8rem;
  font-weight: lighter;
}

/* line 64, ../src/sass/layout/_type.scss */
a {
  color: #c7c18c;
  text-decoration: none;
  transition: color 200ms;
}
/* line 68, ../src/sass/layout/_type.scss */
a:hover {
  color: #434343;
}

/* line 73, ../src/sass/layout/_type.scss */
.link-dark {
  color: #434343;
}
/* line 75, ../src/sass/layout/_type.scss */
.link-dark:hover {
  color: #c7c18c;
}

/* line 80, ../src/sass/layout/_type.scss */
.link-light {
  color: #a3a3a3;
}
/* line 82, ../src/sass/layout/_type.scss */
.link-light:hover {
  color: #c7c18c;
}

/* line 87, ../src/sass/layout/_type.scss */
small {
  font-size: 1.1rem;
}

/*------------------------------------*\
	#FORM
\*------------------------------------*/
/* line 8, ../src/sass/layout/_form.scss */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  color: #434343;
  padding: 7px 10px;
  background: transparent;
  border: solid 1px #a3a3a3;
  width: 100%;
  margin-bottom: 10px;
  font-style: italic;
  -webkit-appearance: none;
  border-radius: 0;
}

/* line 22, ../src/sass/layout/_form.scss */
textarea {
  height: 120px;
}

/* line 26, ../src/sass/layout/_form.scss */
label {
  font-style: italic;
  font-weight: lighter;
  float: left;
  margin-bottom: 2px;
}

/* line 37, ../src/sass/layout/_form.scss */
.error,
.error span,
.wpcf7-validation-errors {
  color: #de4444;
  border: none;
}

/* line 42, ../src/sass/layout/_form.scss */
.wpcf7-response-output {
  padding: 15px 0 15px 55px;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 10px;
  border: none;
  text-align: left;
  display: none;
}

/* line 52, ../src/sass/layout/_form.scss */
.wpcf7-validation-errors {
  background: url('../images/icon-error.png?1428435459') left center no-repeat;
  color: #de4444;
}

/* line 57, ../src/sass/layout/_form.scss */
div.wpcf7-mail-sent-ok {
  color: #679b20;
  background: url('../images/icon-success.png?1428435462') left center no-repeat;
}

/* line 62, ../src/sass/layout/_form.scss */
input.wpcf7-not-valid {
  border: 2px solid #de4444;
  padding: 6px 10px;
}

/* line 67, ../src/sass/layout/_form.scss */
.wpcf7-not-valid-tip {
  display: none;
}

/* line 71, ../src/sass/layout/_form.scss */
.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0;
}

/*------------------------------------*\
	#BUTTONS
\*------------------------------------*/
/* line 5, ../src/sass/layout/_buttons.scss */
.button {
  background: #c7c18c;
  color: white;
  border: none;
  padding: 20px 40px;
  line-height: 1;
  display: inline-block;
  transition: all 400ms;
}
/* line 13, ../src/sass/layout/_buttons.scss */
.button:hover {
  color: white;
  background: #a3a3a3;
}

/* line 19, ../src/sass/layout/_buttons.scss */
.close {
  background: url('../images/close.png?1428435459') center center no-repeat;
  margin: 0;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: block;
  padding: 0;
  width: 48px;
  height: 48px;
  display: inline-block;
}

/*
 * Componentes
 */
/*------------------------------------*\
	#SLIDE
\*------------------------------------*/
/* line 5, ../src/sass/layout/_slide.scss */
.slides {
  width: 100%;
  height: 100%;
}
/* line 8, ../src/sass/layout/_slide.scss */
.slides .slick-dots {
  bottom: 90px;
}
/* line 10, ../src/sass/layout/_slide.scss */
.slides .slick-dots li {
  width: 18px;
  height: 18px;
  border: solid 2px #c7c18c;
  transition: all 400ms;
}
/* line 16, ../src/sass/layout/_slide.scss */
.slides .slick-dots li.slick-active, .slides .slick-dots li:hover {
  background-color: #c7c18c;
}
/* line 20, ../src/sass/layout/_slide.scss */
.slides .slick-dots li button:before {
  width: 18px;
  height: 18px;
}

/* line 30, ../src/sass/layout/_slide.scss */
.slick-list,
.slick-track {
  height: 100%;
}

/* line 34, ../src/sass/layout/_slide.scss */
.slide {
  height: 100%;
  width: 100%;
  display: table !important;
  padding-bottom: 85px;
}
/* line 39, ../src/sass/layout/_slide.scss */
.slide .slide-container {
  display: table-cell;
  vertical-align: middle;
}

/* line 47, ../src/sass/layout/_slide.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  width: 52px;
  height: 46px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -23px;
  padding: 0;
  border: none;
  outline: none;
}
/* line 60, ../src/sass/layout/_slide.scss */
.slick-prev:before,
.slick-next:before {
  opacity: 1;
  width: 52px;
  height: 46px;
  display: block;
  opacity: .81;
  background-color: #c7c18c;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 70, ../src/sass/layout/_slide.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 75, ../src/sass/layout/_slide.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  background-color: #646464;
  opacity: .81;
}

/* line 80, ../src/sass/layout/_slide.scss */
.slick-prev {
  left: 0;
}

/* line 83, ../src/sass/layout/_slide.scss */
.slick-next {
  right: 0;
}

/* line 88, ../src/sass/layout/_slide.scss */
.slick-prev:before,
.slick-prev:focus:before {
  content: "";
  background-image: url('../images/arrow-left.png?1428435455');
}

/* line 94, ../src/sass/layout/_slide.scss */
.slick-next:before,
.slick-next:focus:before {
  content: "";
  background-image: url('../images/arrow-right.png?1428435455');
}

@media (max-width: 700px) {
  /* line 100, ../src/sass/layout/_slide.scss */
  .slide-about {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem;
    font-weight: normal;
    line-height: 1.35;
    letter-spacing: 2px;
    padding: 0 5px 10px;
    margin: 0;
  }

  /* line 110, ../src/sass/layout/_slide.scss */
  .slide-title {
    display: none;
  }
}
/*------------------------------------*\
	#MENU
\*------------------------------------*/
/* line 5, ../src/sass/layout/_menu.scss */
.open-cat-menu {
  display: none;
}

/* line 9, ../src/sass/layout/_menu.scss */
.cat-menu {
  position: relative;
  padding: 0;
  margin: 0;
  border-bottom: solid 1px #c5c5c5;
  display: inline-block;
}
/* line 15, ../src/sass/layout/_menu.scss */
.cat-menu li {
  list-style: none;
}

/* line 20, ../src/sass/layout/_menu.scss */
.cat-menu-item {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}
/* line 25, ../src/sass/layout/_menu.scss */
.cat-menu-item:first-child, .cat-menu-item:last-child {
  margin: 0;
}

/* line 31, ../src/sass/layout/_menu.scss */
.cat-menu-item--current .cat-menu-link {
  border-bottom-color: #c7c18c;
}
/* line 34, ../src/sass/layout/_menu.scss */
.cat-menu-item--current .submenu {
  visibility: visible;
  opacity: 1;
  z-index: 15;
}
/* line 39, ../src/sass/layout/_menu.scss */
.cat-menu-item--current .has-submenu:after {
  margin-top: -10px;
  border-bottom-color: #ababab;
  border-top-color: transparent;
}

/* line 46, ../src/sass/layout/_menu.scss */
.cat-menu-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #9c9c9c;
  text-transform: uppercase;
  padding: 5px 20px;
  position: relative;
  display: block;
  border-bottom: solid 4px transparent;
}
/* line 55, ../src/sass/layout/_menu.scss */
.cat-menu-link:hover {
  border-bottom-color: #c7c18c;
}

/* line 60, ../src/sass/layout/_menu.scss */
.has-submenu:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 0px;
  border: solid 5px transparent;
  border-top: solid 5px #ababab;
}

/* line 70, ../src/sass/layout/_menu.scss */
.submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 70px;
  background: #eaeaea;
  padding: 0 12px;
  width: 282px;
  font-size: 1.6rem;
  font-weight: lighter;
  text-align: left;
  transition: all 400ms;
}
/* line 82, ../src/sass/layout/_menu.scss */
.submenu:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 20px;
  border: solid 10px transparent;
  border-bottom: solid 10px #eaeaea;
}

/* line 92, ../src/sass/layout/_menu.scss */
.submenu-link {
  color: #434343;
  border-bottom: solid 1px #d5d5d5;
  display: block;
  padding: 15px 0;
}

/* line 99, ../src/sass/layout/_menu.scss */
.submenu-item:last-child .submenu-link {
  border: none;
}

@media (max-width: 640px) {
  /* line 104, ../src/sass/layout/_menu.scss */
  .open-cat-menu {
    display: inline-block;
    float: left;
    color: #a3a3a3;
    border-bottom: solid 4px #c7c18c;
    padding-right: 15px;
    cursor: pointer;
  }
  /* line 111, ../src/sass/layout/_menu.scss */
  .open-cat-menu:after {
    content: "";
    position: relative;
    top: 10px;
    right: -5px;
    border: solid 5px transparent;
    border-top-color: #ababab;
  }

  /* line 121, ../src/sass/layout/_menu.scss */
  .cat-menu {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    display: none;
    text-align: left;
    background: #eaeaea;
  }

  /* line 141, ../src/sass/layout/_menu.scss */
  .is-open:after {
    top: -10px;
    border-bottom-color: #ababab;
    border-top-color: transparent;
  }
  /* line 146, ../src/sass/layout/_menu.scss */
  .is-open + .cat-menu {
    display: inline-block;
  }

  /* line 151, ../src/sass/layout/_menu.scss */
  .cat-menu-item {
    display: block;
    margin: 0;
    transition: all 400ms;
  }
  /* line 155, ../src/sass/layout/_menu.scss */
  .cat-menu-item:last-child .cat-menu-link {
    border-bottom: none;
  }

  /* line 160, ../src/sass/layout/_menu.scss */
  .has-submenu:after {
    display: none;
  }

  /* line 165, ../src/sass/layout/_menu.scss */
  .cat-menu-link {
    padding: 15px 20px;
    margin: 0 10px;
    border-bottom: solid 1px #d5d5d5;
  }

  /* line 171, ../src/sass/layout/_menu.scss */
  .submenu {
    display: none;
    position: relative;
    top: 0;
    opacity: 1;
    width: 100%;
    max-height: 0;
    padding: 0 15px;
    overflow: hidden;
    background: #d5d5d5;
    transition: max-height 400ms;
  }
  /* line 183, ../src/sass/layout/_menu.scss */
  .submenu:before {
    display: none;
  }

  /* line 192, ../src/sass/layout/_menu.scss */
  .cat-menu-item--current .submenu {
    z-index: 20;
    max-height: 500px;
  }

  /* line 198, ../src/sass/layout/_menu.scss */
  .submenu-link {
    border-bottom-color: #ebebeb;
  }
}
/*------------------------------------*\
  #GRID
\*------------------------------------*/
/* line 5, ../src/sass/layout/_grid.scss */
.one-half {
  width: 48%;
  margin-right: 2%;
  float: left;
}
/* line 9, ../src/sass/layout/_grid.scss */
.one-half + .one-half {
  margin-right: 0;
  margin-left: 2%;
}

/* line 17, ../src/sass/layout/_grid.scss */
.one-third,
.one-quarter,
.five-twelfths {
  padding: 0 1%;
  float: left;
  margin: 0 auto;
}

/* line 23, ../src/sass/layout/_grid.scss */
.one-third {
  width: 33%;
}

/* line 27, ../src/sass/layout/_grid.scss */
.one-quarter {
  width: 25%;
}

/* line 31, ../src/sass/layout/_grid.scss */
.five-twelfths {
  width: 42%;
}

/* line 35, ../src/sass/layout/_grid.scss */
.alpha {
  padding-left: 0;
}

/* line 39, ../src/sass/layout/_grid.scss */
.omega {
  padding-right: 0;
}

@media (max-width: 600px) {
  /* line 48, ../src/sass/layout/_grid.scss */
  .one-third,
  .one-quarter,
  .five-twelfths,
  .one-half {
    width: 100%;
  }

  /* line 52, ../src/sass/layout/_grid.scss */
  .one-half.one-half {
    margin: 0;
  }
}
/*------------------------------------*\
	#CAROUSEL
\*------------------------------------*/
/* Dots */
/* line 7, ../src/sass/layout/_carousel.scss */
.clients .slick-slider {
  margin-bottom: 60px;
}
/* line 11, ../src/sass/layout/_carousel.scss */
.clients .slick-slide img {
  display: inline-block;
}
/* line 15, ../src/sass/layout/_carousel.scss */
.clients .slick-dots {
  bottom: -75px;
}
/* line 17, ../src/sass/layout/_carousel.scss */
.clients .slick-dots li {
  width: 44px;
  height: 5px;
  background: #434343;
  transition: background-color 200ms;
}
/* line 23, ../src/sass/layout/_carousel.scss */
.clients .slick-dots li.slick-active, .clients .slick-dots li:hover {
  background: #c7c18c;
}
/* line 27, ../src/sass/layout/_carousel.scss */
.clients .slick-dots li button:before {
  width: 44px;
  height: 44px;
}

/* line 36, ../src/sass/layout/_carousel.scss */
.slick-dots {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
/* line 43, ../src/sass/layout/_carousel.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  transition: background-color 200ms;
}
/* line 50, ../src/sass/layout/_carousel.scss */
.slick-dots li button {
  opacity: 0;
}
/* line 51, ../src/sass/layout/_carousel.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  text-align: center;
}

/*------------------------------------*\
	#LOADING
\*------------------------------------*/
/* line 5, ../src/sass/layout/_loading.scss */
.loading-mask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: -1;
  background: url('../images/loading.gif?1427832601') center center no-repeat white;
  transition: opacity 400ms;
}
/* line 19, ../src/sass/layout/_loading.scss */
.loading-mask.is-visible {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 100;
}

/*------------------------------------*\
	#TABS
\*------------------------------------*/
/* line 5, ../src/sass/layout/_tabs.scss */
.tabs {
  list-style: none;
  border-bottom: solid 1px #e3e3e3;
  padding: 0;
  margin-top: 80px;
}

/* line 12, ../src/sass/layout/_tabs.scss */
.tab-item {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 50px;
}
/* line 17, ../src/sass/layout/_tabs.scss */
.tab-item.active a {
  color: #c7c18c;
  border-bottom: solid 4px;
}
/* line 22, ../src/sass/layout/_tabs.scss */
.tab-item a {
  color: #a3a3a3;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/
/* line 5, ../src/sass/sections/_header.scss */
.main-header {
  height: 100%;
  position: relative;
  z-index: 20;
}

/* line 11, ../src/sass/sections/_header.scss */
.main-nav {
  position: absolute;
  z-index: 30;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.56);
  border-top: solid 1px #c7c18c;
  border-bottom: none;
  -webkit-transition: background 400ms;
  -moz-transition: background 400ms;
  -ms-transition: background 400ms;
  -o-transition: background 400ms;
  transition: background 400ms;
}

/* line 24, ../src/sass/sections/_header.scss */
.sticky {
  position: fixed;
  z-index: 30;
  top: 0;
  bottom: initial;
  border-top: none;
  border-bottom: solid 1px #c7c18c;
  background: rgba(0, 0, 0, 0.9);
}

/* line 34, ../src/sass/sections/_header.scss */
.nav-menu {
  visibility: hidden;
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
  background: none;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

/* line 49, ../src/sass/sections/_header.scss */
.open .nav-menu {
  z-index: 30;
  visibility: visible;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 56, ../src/sass/sections/_header.scss */
.menu {
  width: 100%;
  padding: 0;
  opacity: 0;
  display: table-cell;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  list-style: none;
}

/* line 65, ../src/sass/sections/_header.scss */
.menu-item {
  padding: 20px 0;
}

/* line 69, ../src/sass/sections/_header.scss */
.menu-link {
  color: white;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
/* line 74, ../src/sass/sections/_header.scss */
.menu-link:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 4px;
  background: #c7c18c;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
/* line 84, ../src/sass/sections/_header.scss */
.menu-link:hover {
  color: white;
}
/* line 86, ../src/sass/sections/_header.scss */
.menu-link:hover:after {
  width: 100%;
  left: 0;
}

/* line 93, ../src/sass/sections/_header.scss */
.open .menu {
  top: 0;
  opacity: 1;
  margin-top: 0;
}

/* line 99, ../src/sass/sections/_header.scss */
.nav-bar {
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  margin: 0 auto;
}
/* line 104, ../src/sass/sections/_header.scss */
.nav-bar a {
  color: white;
  margin-top: 10px;
}

/* line 110, ../src/sass/sections/_header.scss */
.open-menu {
  float: left;
}
/* line 113, ../src/sass/sections/_header.scss */
.open-menu:hover .menu-icon:before {
  top: -8px;
}
/* line 116, ../src/sass/sections/_header.scss */
.open-menu:hover .menu-icon:after {
  bottom: -8px;
}

/* line 122, ../src/sass/sections/_header.scss */
.menu-icon {
  width: 20px;
  height: 2px;
  margin-right: 10px;
  background: #c7c18c;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  top: -5px;
  display: inline-block;
}
/* line 132, ../src/sass/sections/_header.scss */
.menu-icon:after, .menu-icon:before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: #c7c18c;
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 142, ../src/sass/sections/_header.scss */
.menu-icon:before {
  top: -6px;
}
/* line 145, ../src/sass/sections/_header.scss */
.menu-icon:after {
  bottom: -6px;
}

/* line 150, ../src/sass/sections/_header.scss */
.menu-contact {
  float: right;
  background: url('../images/mail.png?1428435463') left center no-repeat;
  padding-left: 32px;
}

/* line 156, ../src/sass/sections/_header.scss */
.logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
/* line 161, ../src/sass/sections/_header.scss */
.logo a {
  margin: 0;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: block;
  background: url('../images/logo.png?1428435464');
  width: 194px;
  height: 39px;
  padding: 0;
}

/* line 175, ../src/sass/sections/_header.scss */
.view-project {
  background: url('../images/more.png?1428435464') right center no-repeat;
  padding-right: 35px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  z-index: 50;
}
/* line 184, ../src/sass/sections/_header.scss */
.view-project:hover {
  color: inherit;
}

@media (max-width: 700px) {
  /* line 190, ../src/sass/sections/_header.scss */
  .view-project {
    display: inline-block;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  /* line 198, ../src/sass/sections/_header.scss */
  .main-nav {
    position: fixed;
    bottom: initial;
    transition: all 300ms;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  /* line 205, ../src/sass/sections/_header.scss */
  .sticky {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 209, ../src/sass/sections/_header.scss */
  .before-breakpoint {
    position: absolute;
    bottom: -83px;
    transition: none;
  }
}
@media (max-height: 590px) {
  /* line 218, ../src/sass/sections/_header.scss */
  .nav-menu {
    font-size: 2.8rem;
  }

  /* line 222, ../src/sass/sections/_header.scss */
  .menu-item {
    padding: 10px 0;
  }
}
@media (max-width: 500px) {
  /* line 228, ../src/sass/sections/_header.scss */
  .nav-bar a {
    line-height: 1;
  }

  /* line 233, ../src/sass/sections/_header.scss */
  .open-menu,
  .menu-contact {
    margin: 0;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent !important;
    display: block;
    width: 23px;
    height: 15px;
    padding: 0;
  }
}
/* line 247, ../src/sass/sections/_header.scss */
.triangles {
  position: absolute;
  left: 0;
}

/* line 252, ../src/sass/sections/_header.scss */
.triangle-1 {
  position: absolute;
  left: 50%;
  margin-left: -500px;
  top: 50%;
  width: 146px;
  height: 220px;
  display: block;
  background-image: url('../images/triangle-1.png?1428696295');
}

/* line 263, ../src/sass/sections/_header.scss */
.triangle-2 {
  position: absolute;
  left: 50%;
  margin-left: -400px;
  top: 20px;
  width: 352px;
  height: 517px;
  display: block;
  background-image: url('../images/triangle-2.png?1428696321');
}

/* line 274, ../src/sass/sections/_header.scss */
.triangle-img {
  display: none;
}

@media (max-width: 700px) {
  /* line 279, ../src/sass/sections/_header.scss */
  .triangle-img {
    display: none;
  }
}
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
/* line 5, ../src/sass/sections/_footer.scss */
.footer {
  z-index: 5;
  width: 100%;
  background: #000;
  text-align: left;
  padding: 40px 0;
}
/* line 11, ../src/sass/sections/_footer.scss */
.footer p {
  font-weight: normal;
  margin: 0;
}

/* line 17, ../src/sass/sections/_footer.scss */
.main-footer {
  position: fixed;
  bottom: 0;
}

/* line 22, ../src/sass/sections/_footer.scss */
.mobile-footer {
  display: none;
}

/* line 26, ../src/sass/sections/_footer.scss */
.to-front {
  z-index: 25;
}

/* line 30, ../src/sass/sections/_footer.scss */
.footer-info {
  width: 40%;
  float: left;
}
/* line 33, ../src/sass/sections/_footer.scss */
.footer-info .sub-title {
  color: #c7c18c;
  margin: 0;
}
/* line 37, ../src/sass/sections/_footer.scss */
.footer-info p {
  color: #9e9e9e;
  font-style: italic;
  font-size: 1.4rem;
}

/* line 44, ../src/sass/sections/_footer.scss */
.footer-logo {
  float: right;
  text-align: right;
  margin-top: 30px;
}
/* line 48, ../src/sass/sections/_footer.scss */
.footer-logo small {
  font-size: 1.2rem;
}

/* line 53, ../src/sass/sections/_footer.scss */
.assinatura-katon {
  padding: 7px 10px 5px 5px;
  border-radius: 2px 0 0 2px;
  position: absolute;
  bottom: 10px;
  right: 0px;
  border: none;
  z-index: 20;
}
/* line 61, ../src/sass/sections/_footer.scss */
.assinatura-katon img {
  vertical-align: middle;
}

@media (max-width: 1200px) {
  /* line 67, ../src/sass/sections/_footer.scss */
  .content {
    margin-bottom: 0;
  }

  /* line 71, ../src/sass/sections/_footer.scss */
  .main-footer {
    display: none;
    position: absolute;
    z-index: -1;
  }

  /* line 77, ../src/sass/sections/_footer.scss */
  .mobile-footer {
    display: block;
  }
}
@media (max-width: 700px) {
  /* line 83, ../src/sass/sections/_footer.scss */
  .footer {
    padding: 20px 0;
  }

  /* line 87, ../src/sass/sections/_footer.scss */
  .footer-info {
    width: 60%;
  }
}
@media (max-width: 550px) {
  /* line 94, ../src/sass/sections/_footer.scss */
  .footer {
    padding: 10px 0 10px;
  }

  /* line 98, ../src/sass/sections/_footer.scss */
  .footer-info {
    width: 100%;
  }
  /* line 100, ../src/sass/sections/_footer.scss */
  .footer-info .sub-title {
    font-size: 1.4rem;
  }

  /* line 105, ../src/sass/sections/_footer.scss */
  .footer-logo {
    margin: 10px 0 0;
  }
  /* line 107, ../src/sass/sections/_footer.scss */
  .footer-logo img {
    width: 70%;
  }

  /* line 112, ../src/sass/sections/_footer.scss */
  .assinatura-katon {
    left: 20px;
    right: initial;
  }
}
@media (max-width: 430px) {
  /* line 121, ../src/sass/sections/_footer.scss */
  .footer-info p {
    font-size: 1.2rem;
  }
}
/*------------------------------------*\
	#ABOUT
\*------------------------------------*/
/* line 5, ../src/sass/sections/_about.scss */
.about {
  color: #434343;
  background-color: transparent;
  padding: 210px 0 100px;
}
/* line 9, ../src/sass/sections/_about.scss */
.about h2 {
  text-transform: none;
}

@media (max-width: 700px) {
  /* line 15, ../src/sass/sections/_about.scss */
  .about {
    padding: 150px 0 40px;
    background: rgba(255, 255, 255, 0.6);
  }
  /* line 18, ../src/sass/sections/_about.scss */
  .about h2 {
    font-size: 2.4rem;
  }
}
/*------------------------------------*\
	#SERVICES
\*------------------------------------*/
/* line 5, ../src/sass/sections/_services.scss */
.services {
  background-color: transparent;
}

/* line 9, ../src/sass/sections/_services.scss */
.services-items {
  background: url('../images/bg-services.jpg?1428435457') center center no-repeat;
  background-size: cover;
  position: relative;
  padding: 0;
  margin: 0;
}
/* line 15, ../src/sass/sections/_services.scss */
.services-items .item {
  display: inline;
}
/* line 17, ../src/sass/sections/_services.scss */
.services-items .item:nth-child(4n+1) .service-item {
  border-left: none;
}

/* line 23, ../src/sass/sections/_services.scss */
.service-item {
  width: 25%;
  float: left;
  background: #292929;
  background: rgba(41, 41, 41, 0.94);
  border-left: solid 1px #a3a3a3;
  border-bottom: solid 1px #a3a3a3;
  position: relative;
  padding: 0 2%;
  display: table;
}
/* line 33, ../src/sass/sections/_services.scss */
.service-item div {
  display: table-cell;
  vertical-align: middle;
}
/* line 37, ../src/sass/sections/_services.scss */
.service-item h3 {
  height: 150px;
}

/* line 43, ../src/sass/sections/_services.scss */
.service-link h3 {
  color: white;
}
/* line 46, ../src/sass/sections/_services.scss */
.service-link:hover h3 {
  color: #c7c18c;
}

/* line 51, ../src/sass/sections/_services.scss */
.service-content {
  visibility: hidden;
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0;
  background: none;
  transition: all 400ms;
  color: white;
  padding: 60px 0 20px;
}
/* line 62, ../src/sass/sections/_services.scss */
.service-content .container {
  max-width: 890px;
}
/* line 65, ../src/sass/sections/_services.scss */
.service-content h3 {
  color: inherit;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 40px;
}

/* line 74, ../src/sass/sections/_services.scss */
.service-content.opened {
  visibility: visible;
  opacity: 1;
  z-index: 20;
  background: #292929;
}

@media (max-width: 1100px) {
  /* line 83, ../src/sass/sections/_services.scss */
  .service-item h3 {
    font-size: 1.6rem;
  }
}
@media (max-width: 900px) {
  /* line 92, ../src/sass/sections/_services.scss */
  .services-items .item {
    display: inline;
  }
  /* line 94, ../src/sass/sections/_services.scss */
  .services-items .item:nth-child(2n+1) .service-item {
    border-left: none;
  }

  /* line 99, ../src/sass/sections/_services.scss */
  .service-item {
    width: 50%;
    padding: 20px 5%;
  }
}
@media (max-width: 550px) {
  /* line 107, ../src/sass/sections/_services.scss */
  .services-items {
    background: none;
    height: auto !important;
  }

  /* line 114, ../src/sass/sections/_services.scss */
  .service-link:before, .service-link:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  /* line 123, ../src/sass/sections/_services.scss */
  .service-link:after {
    clear: both;
  }

  /* line 128, ../src/sass/sections/_services.scss */
  .service-item {
    width: 100%;
    padding: 0 10%;
    border-left: none;
    min-height: initial;
    text-align: left;
  }
  /* line 134, ../src/sass/sections/_services.scss */
  .service-item h3 {
    height: initial;
    background-position: left center;
    padding: 20px 0 20px 60px;
  }
  /* line 138, ../src/sass/sections/_services.scss */
  .service-item h3.icon-project {
    padding-left: 90px;
  }

  /* line 144, ../src/sass/sections/_services.scss */
  .service-content.opened {
    position: relative;
    min-height: 0;
  }
}
/* line 151, ../src/sass/sections/_services.scss */
.icon-search {
  background: url('../images/icon-search.png?1428435461') no-repeat;
}

/* line 155, ../src/sass/sections/_services.scss */
.icon-project {
  background: url('../images/icon-project.png?1428435462') no-repeat;
}

/* line 159, ../src/sass/sections/_services.scss */
.icon-puzzle {
  background: url('../images/icon-puzzle.png?1428435461') no-repeat;
}

/* line 163, ../src/sass/sections/_services.scss */
.icon-light {
  background: url('../images/icon-light.png?1428435460') no-repeat;
}

/* line 167, ../src/sass/sections/_services.scss */
.icon-top {
  background-position: center top;
  padding-top: 60px;
}

/* line 172, ../src/sass/sections/_services.scss */
.icon-left {
  background-position: left center;
  padding-left: 60px;
}
/* line 175, ../src/sass/sections/_services.scss */
.icon-left.icon-project {
  padding-left: 90px;
}

@media (max-width: 550px) {
  /* line 182, ../src/sass/sections/_services.scss */
  h3.icon-left {
    background-position: top center;
    padding-left: 0 !important;
    padding-top: 60px;
    margin: 30px 0 0;
  }

  /* line 189, ../src/sass/sections/_services.scss */
  .service-content {
    padding-top: 20px;
  }
}
/*------------------------------------*\
	#PORTFOLIO
\*------------------------------------*/
/* line 5, ../src/sass/sections/_portfolio.scss */
.portfolio {
  z-index: 11;
}

/* line 9, ../src/sass/sections/_portfolio.scss */
.portfolio-items {
  margin-top: 40px;
}

/* line 13, ../src/sass/sections/_portfolio.scss */
.portfolio-item {
  width: 20%;
  height: 250px;
  background: #888;
  border: solid 1px rgba(255, 255, 255, 0.4);
  display: table;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 23, ../src/sass/sections/_portfolio.scss */
.portfolio-item.vertical {
  height: 500px;
}
/* line 27, ../src/sass/sections/_portfolio.scss */
.portfolio-item:hover .portfolio-mask {
  background: rgba(41, 41, 41, 0.94);
}
/* line 30, ../src/sass/sections/_portfolio.scss */
.portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/* line 36, ../src/sass/sections/_portfolio.scss */
.portfolio-mask {
  display: table-cell;
  vertical-align: middle;
  background: #292929;
  background: rgba(0, 0, 0, 0.4);
  transition: background 800ms;
}

/* line 44, ../src/sass/sections/_portfolio.scss */
.portfolio-info {
  opacity: 0;
  padding: 0 10%;
  transition: opacity 800ms;
}
/* line 48, ../src/sass/sections/_portfolio.scss */
.portfolio-info .sub-title {
  color: white;
  margin: 0;
}
/* line 52, ../src/sass/sections/_portfolio.scss */
.portfolio-info p {
  color: #c7c18c;
  font-style: italic;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 1279px) {
  /* line 62, ../src/sass/sections/_portfolio.scss */
  .portfolio-item {
    width: 25%;
  }
}
@media (max-width: 1024px) {
  /* line 69, ../src/sass/sections/_portfolio.scss */
  .portfolio-item {
    width: 33.33%;
  }
  /* line 71, ../src/sass/sections/_portfolio.scss */
  .portfolio-item .portfolio-mask {
    background: rgba(41, 41, 41, 0.6);
  }
  /* line 74, ../src/sass/sections/_portfolio.scss */
  .portfolio-item .portfolio-info {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  /* line 81, ../src/sass/sections/_portfolio.scss */
  .portfolio-item {
    width: 50%;
  }
}
@media (max-width: 430px) {
  /* line 86, ../src/sass/sections/_portfolio.scss */
  .portfolio-item {
    width: 100%;
  }
}
/*------------------------------------*\
	#PORTFOLIO ITEM
\*------------------------------------*/
/* line 5, ../src/sass/sections/_portfolio-item.scss */
.portfolio-lightbox {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: 25;
  transition: all 600ms;
  overflow-y: scroll;
}

/* line 16, ../src/sass/sections/_portfolio-item.scss */
.csstransforms3d .portfolio-lightbox {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 18, ../src/sass/sections/_portfolio-item.scss */
.csstransforms3d .portfolio-lightbox.show {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

/* line 24, ../src/sass/sections/_portfolio-item.scss */
.portfolio-content {
  background: white;
  margin: 0 0 182px;
  padding: 0 0 40px;
}
/* line 28, ../src/sass/sections/_portfolio-item.scss */
.portfolio-content article {
  text-align: left;
  padding: 40px 20px;
}

/* line 34, ../src/sass/sections/_portfolio-item.scss */
.portfolio-item-header {
  padding: 80px 0 40px;
  height: 455px;
  width: 100%;
  display: table;
}
/* line 39, ../src/sass/sections/_portfolio-item.scss */
.portfolio-item-header div {
  display: table-cell;
  vertical-align: middle;
}
/* line 44, ../src/sass/sections/_portfolio-item.scss */
.portfolio-item-header h2,
.portfolio-item-header span {
  color: white;
}
/* line 47, ../src/sass/sections/_portfolio-item.scss */
.portfolio-item-header h3 {
  color: #c7c18c;
}
/* line 50, ../src/sass/sections/_portfolio-item.scss */
.portfolio-item-header span {
  font-style: italic;
}

/* line 55, ../src/sass/sections/_portfolio-item.scss */
.back {
  background: url('../images/back.png?1428435456') left center no-repeat;
  padding-left: 30px;
}

/* line 60, ../src/sass/sections/_portfolio-item.scss */
.icon-place {
  background: url('../images/icon-place.png?1428435460') left center no-repeat;
  padding-left: 20px;
}

/* line 65, ../src/sass/sections/_portfolio-item.scss */
.icon-category {
  margin-left: 30px;
  background: url('../images/icon-category.png?1428435459') left center no-repeat;
  padding-left: 20px;
}

/* line 72, ../src/sass/sections/_portfolio-item.scss */
.portfolio-item-stats p {
  border-top: solid 1px #e3e3e3;
  padding: 20px 0 20px 35px;
  margin: 0;
  color: #434343;
  letter-spacing: 4px;
}
/* line 78, ../src/sass/sections/_portfolio-item.scss */
.portfolio-item-stats p + p {
  border-bottom: solid 1px #e3e3e3;
}
/* line 83, ../src/sass/sections/_portfolio-item.scss */
.portfolio-item-stats small {
  letter-spacing: 3px;
}
/* line 87, ../src/sass/sections/_portfolio-item.scss */
.portfolio-item-stats span {
  font-family: 'Open Sans', sans-serif;
  float: right;
  font-weight: lighter;
  letter-spacing: normal;
}

/* line 95, ../src/sass/sections/_portfolio-item.scss */
.portfolio-error {
  margin-top: 100px;
}

@media (max-width: 1200px) {
  /* line 100, ../src/sass/sections/_portfolio-item.scss */
  .portfolio-content {
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  /* line 109, ../src/sass/sections/_portfolio-item.scss */
  .portfolio-item-stats .one-half + .one-half p {
    border-top: none;
    border-bottom: solid 1px #e3e3e3;
  }

  /* line 117, ../src/sass/sections/_portfolio-item.scss */
  .portfolio-item-header h2 {
    font-size: 3rem;
  }
}
/* line 123, ../src/sass/sections/_portfolio-item.scss */
.icon-area {
  background: url('../images/icon-area.png?1428435458') left 46% no-repeat;
}

/* line 127, ../src/sass/sections/_portfolio-item.scss */
.icon-area-dashed {
  background: url('../images/icon-area-dashed.png?1428435457') left 46% no-repeat;
}

/* line 131, ../src/sass/sections/_portfolio-item.scss */
.icon-units {
  background: url('../images/icon-units.png?1428435462') left 46% no-repeat;
}

/* line 135, ../src/sass/sections/_portfolio-item.scss */
.icon-car {
  background: url('../images/icon-car.png?1428435458') left 46% no-repeat;
}

/* line 140, ../src/sass/sections/_portfolio-item.scss */
.gallery-carousel .slick-list {
  padding: 0 !important;
}
/* line 143, ../src/sass/sections/_portfolio-item.scss */
.gallery-carousel img {
  padding-right: 20px;
}

/*------------------------------------*\
  #CONTACT
\*------------------------------------*/
/* line 5, ../src/sass/sections/_contact.scss */
.contacts {
  border-top: solid 1px #eeeeee;
  padding-top: 40px;
  margin-top: 50px;
}

/* line 12, ../src/sass/sections/_contact.scss */
.contact-info p {
  margin: 0;
}
/* line 15, ../src/sass/sections/_contact.scss */
.contact-info a {
  color: #a3a3a3;
}

/* line 21, ../src/sass/sections/_contact.scss */
.icon-phone,
.icon-mobile {
  padding-top: 35px;
}

/* line 25, ../src/sass/sections/_contact.scss */
.icon-phone {
  background: url('../images/icon-phone.png?1428435459') center top no-repeat;
}

/* line 29, ../src/sass/sections/_contact.scss */
.icon-mobile {
  background: url('../images/icon-mobile.png?1428435460') center top no-repeat;
}

/* line 33, ../src/sass/sections/_contact.scss */
.contact-name {
  color: #c4be86;
  font-weight: bold;
  font-style: italic;
}

/* line 39, ../src/sass/sections/_contact.scss */
.map {
  width: 100%;
  height: 365px;
  margin: 0;
  overflow: hidden;
}

/* line 46, ../src/sass/sections/_contact.scss */
address {
  background: rgba(41, 41, 41, 0.94);
  padding: 30px 40px;
  position: relative;
  top: 230px;
  z-index: 10;
  display: inline-block;
  font-weight: 600;
  color: white;
  font-style: italic;
  font-size: 1.8rem;
}
/* line 57, ../src/sass/sections/_contact.scss */
address a {
  display: none;
}

@media (max-width: 1200px) {
  /* line 63, ../src/sass/sections/_contact.scss */
  .map {
    height: 280px;
  }
}
@media (max-width: 900px) {
  /* line 69, ../src/sass/sections/_contact.scss */
  address {
    margin-top: 20px;
    max-width: 640px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    top: 0;
    font-size: 1.6rem;
  }
  /* line 77, ../src/sass/sections/_contact.scss */
  address a {
    display: inline-block;
  }
  /* line 79, ../src/sass/sections/_contact.scss */
  address a:hover {
    color: white;
  }
}
@media (max-width: 600px) {
  /* line 88, ../src/sass/sections/_contact.scss */
  .contacts .one-third {
    width: 33%;
  }
}
@media (max-width: 550px) {
  /* line 96, ../src/sass/sections/_contact.scss */
  .contact h2 span {
    display: none;
  }
}
@media (max-width: 450px) {
  /* line 104, ../src/sass/sections/_contact.scss */
  .contacts .one-third {
    width: 100%%;
  }

  /* line 108, ../src/sass/sections/_contact.scss */
  .contact-info {
    margin-bottom: 20px;
  }
}
/*------------------------------------*\
  #CLIENTS
\*------------------------------------*/
/* line 5, ../src/sass/sections/_clients.scss */
.clients {
  padding-bottom: 40px;
}

/*
 * Outros
 */
/*------------------------------------*\
  #CLEARFIX
\*------------------------------------*/
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
/* line 10, ../src/sass/utils/_clearfix.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
/* line 22, ../src/sass/utils/_clearfix.scss */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 31, ../src/sass/utils/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/*------------------------------------*\
	#IE FIXES
\*------------------------------------*/
/* line 7, ../src/sass/utils/_iefix.scss */
.lt-ie9 .portfolio-lightbox,
.ie9 .portfolio-lightbox {
  left: 100%;
}
/* line 9, ../src/sass/utils/_iefix.scss */
.lt-ie9 .portfolio-lightbox.show,
.ie9 .portfolio-lightbox.show {
  left: 0;
}

/* line 16, ../src/sass/utils/_iefix.scss */
.lt-ie9 .sticky {
  position: absolute;
}
