/*------------------------------------*\
	#ABOUT
\*------------------------------------*/

.about {
	color: $color-dark-grey;
	background-color: transparent;
	padding: 210px 0 100px;
	h2 {
		text-transform: none;
	}
}

@media (max-width: 700px) {
	.about {
		padding: 150px 0 40px;
		background: rgba(255,255,255,0.6);
		h2 {
			font-size: 2.4rem;
		}
	}
}