/*------------------------------------*\
  #CONTACT
\*------------------------------------*/

.contacts {
	border-top: solid 1px #eeeeee;
	padding-top: 40px;
	margin-top: 50px;
}

.contact-info {
	p {
		margin: 0;
	}
	a {
		color: $color-light-grey;
	}
}

.icon-phone,
.icon-mobile {
	padding-top: 35px;
}

.icon-phone {
	background: image_url("icon-phone.png") center top no-repeat;
}

.icon-mobile {
	background: image_url("icon-mobile.png") center top no-repeat;
}

.contact-name {
	color: #c4be86;
	font-weight: bold;
	font-style: italic;
}

.map {
	width: 100%;
	height: 365px;
	margin: 0;
	overflow: hidden;
}

address {
	background: rgba(41,41,41,.94);
	padding: 30px 40px;
	position: relative;
	top: 230px;
	z-index: 10;
	display: inline-block;
	font-weight: 600;
	color: $color-white;
	font-style: italic;
	font-size: 1.8rem;
	a {
		display: none;
	}
}

@media (max-width: 1200px) {
	.map {
		height: 280px;
	}
}

@media (max-width: 900px) {
	address {
  	margin-top: 20px;
  	max-width: 640px;
  	display: block;
  	margin: 0 auto;
  	padding: 20px;
  	top: 0;
  	font-size: 1.6rem;
		a {
			display: inline-block;
			&:hover {
				color: $color-white;
			}
		}
	}
}

@media (max-width: 600px) {
	.contacts {
		.one-third {
			width: 33%;
		}
	}
}

@media (max-width: 550px) {
	.contact {
		h2 span {
			display: none;
		}
	}
}

@media (max-width: 450px) {
	.contacts {
		.one-third {
			width: 100%%;
		}
	}
	.contact-info {
		margin-bottom: 20px;
	}
}
