/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
	z-index: 5;
	width: 100%;
	background: #000;
	text-align: left;
	padding: 40px 0;
	p {
		font-weight: normal;
		margin: 0;
	}
}

.main-footer {
	position: fixed;
	bottom: 0;
}

.mobile-footer {
	display: none;
}

.to-front {
	z-index: 25;
}

.footer-info {
	width: 40%;
	float: left;
	.sub-title {
		color: $color-brand;
		margin: 0;
	}
	p {
		color: #9e9e9e;
		font-style: italic;
		font-size: 1.4rem;
	}
}

.footer-logo {
	float: right;
	text-align: right;
	margin-top: 30px;
	small {
		font-size: 1.2rem
	}
}

.assinatura-katon {
	padding: 7px 10px 5px 5px;
	border-radius: 2px 0 0 2px;
	position: absolute; 
	bottom: 10px; 
	right: 0px;
	border: none;
	z-index: 20;
	img {
		vertical-align: middle;
	}
}

@media (max-width: 1200px) {
	.content {
		margin-bottom: 0;
	}

	.main-footer {
		display: none;
		position: absolute;
		z-index: -1;
	}

	.mobile-footer {
		display: block;
	}
}

@media (max-width: 700px) {
	.footer {
		padding: 20px 0;
	}

	.footer-info {
		width: 60%;
	}
}


@media (max-width: 550px) {
	.footer {
		padding: 10px 0 10px;
	}

	.footer-info {
		width: 100%;
		.sub-title {
			font-size: 1.4rem;
		}
	}

	.footer-logo {
		margin: 10px 0 0;
		img {
			width: 70%;
		}
	}

	.assinatura-katon {
		left: 20px;
		right: initial;
	}
}


@media (max-width: 430px) {
	.footer-info {
		p {
			font-size: 1.2rem;
		}
	}
}