/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.main-header {
  height: 100%;
  position: relative;
  z-index: 20;
}

.main-nav {
  position: absolute;
  z-index: 30;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  background: rgba(0,0,0,.56);
  border-top: solid 1px $color-brand;
  border-bottom: none;
  @include vendor(transition, background 400ms);
}

.sticky {
  position: fixed;
  z-index: 30;
  top: 0;
  bottom: initial;
  border-top: none;
  border-bottom: solid 1px $color-brand;
  background: rgba(0,0,0,.9);
}

.nav-menu {
  visibility: hidden;
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
  background: none;
  @include vendor(transition, all 0.6s);
}

.open .nav-menu {
  z-index: 30;
  visibility: visible;
  background-color: #000;
  background-color: rgba(0,0,0,0.9);
}

.menu {
  width: 100%;
  padding: 0;
  opacity: 0;
  display: table-cell;
  @include vendor(transition, all 0.4s);
  list-style: none;
}

.menu-item {
  padding: 20px 0;
}

.menu-link {
  color: $color-white;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 4px;
    background: $color-brand;
    @include vendor(transition, all 200ms);
  }
  &:hover {
    color: $color-white;
    &:after {
      width: 100%;
      left: 0;
    }
  }
}

.open .menu {
  top: 0;
  opacity: 1;
  margin-top: 0;
}

.nav-bar {
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  margin: 0 auto;
  a {
    color: $color-white;
    margin-top: 10px;
  }
}

.open-menu {
  float: left;
  &:hover {
    .menu-icon:before {
      top: -8px;
    }
    .menu-icon:after {
      bottom: -8px;
    }
  }
}

.menu-icon {
  width: 20px;
  height: 2px;
  margin-right: 10px;
  background: $color-brand;
  @include vendor(transition, all 0.3s);
  position: relative;
  top: -5px;
  display: inline-block;
  &:after,
  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: $color-brand;
    position: absolute;
    z-index: -1;
    @include vendor(transition, all 0.3s);
  }
  &:before {
    top: -6px;
  }
  &:after {
    bottom: -6px;
  }
}

.menu-contact {
  float: right;
  background: image_url("mail.png") left center no-repeat;
  padding-left: 32px;
}

.logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  a {
    margin: 0;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    display: block;
    background: image_url("logo.png");
    width: 194px;
    height: 39px;
    padding: 0;
  }
}

.view-project {
  background: image_url("more.png") right center no-repeat;
  padding-right: 35px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  color: $color-white;
  position: relative;
  z-index: 50;
  &:hover {
    color: inherit;
  }
}

@media (max-width: 700px) {
  .view-project {
    display: inline-block;
    margin-top: 20px;
  }

}

@media (max-width: 768px) {
  .main-nav {
    position: fixed;
    bottom: initial;
    transition: all 300ms;
    @include vendor(transform, translate3d(0, -100%, 0));
  }

  .sticky {
    @include vendor(transform, translate3d(0, 0, 0));
  }

  .before-breakpoint {
    position: absolute;
    bottom: -83px;
    transition: none;
  }

}

@media (max-height: 590px) {
  .nav-menu {
    font-size: 2.8rem;
  }

  .menu-item {
    padding: 10px 0;
  }
}

@media (max-width: 500px) {
  .nav-bar a {
    line-height: 1;
  }

  .open-menu,
  .menu-contact {
    margin: 0;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent !important;
    display: block;
    width: 23px;
    height: 15px;
    padding: 0;
  }
}


.triangles {
  position: absolute;
  left: 0;
}

.triangle-1 {
  position: absolute;
  left: 50%;
  margin-left: -500px;
  top: 50%;
  width: 146px;
  height: 220px;
  display: block;
  background-image: image_url("triangle-1.png");
}

.triangle-2 {
  position: absolute;
  left: 50%;
  margin-left: -400px;
  top: 20px;
  width: 352px;
  height: 517px;
  display: block;
  background-image: image_url("triangle-2.png");
}

.triangle-img {
  display: none;
}

@media (max-width: 700px) {
  .triangle-img {
    display: none;
  }
}
