/*------------------------------------*\
	#PORTFOLIO ITEM
\*------------------------------------*/

.portfolio-lightbox {
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 100%;
	z-index: 25;
	transition: all 600ms;
	overflow-y: scroll;
}

.csstransforms3d {
	.portfolio-lightbox {
		@include vendor(transform, translate3d(100%, 0, 0));
		&.show {
			@include vendor(transform, translate3d(0%, 0, 0));
		}
	}
}

.portfolio-content {
	background: $color-white;
	margin: 0 0 182px;
	padding: 0 0 40px;
	article {
		text-align: left;
		padding: 40px 20px;
	}
}

.portfolio-item-header {
	padding: 80px 0 40px;
	height: 455px;
	width: 100%;
	display: table;
	div {
		display: table-cell;
		vertical-align: middle;
	}
	h2,
	span {
		color: $color-white;
	}
	h3 {
		color: $color-brand;
	}
	span {
		font-style: italic;
	}
}

.back {
	background: image_url("back.png") left center no-repeat;
	padding-left: 30px;
}

.icon-place {
	background: image_url("icon-place.png") left center no-repeat;
	padding-left: 20px;
}

.icon-category {
	margin-left: 30px;
	background: image_url("icon-category.png") left center no-repeat;
	padding-left: 20px;
}

.portfolio-item-stats {
	p {
		border-top: solid 1px $color-soft-grey;
		padding: 20px 0 20px 35px;
		margin: 0;
		color: $color-dark-grey;
		letter-spacing: 4px;
		+ p {
			border-bottom: solid 1px $color-soft-grey;
		}
	}

	small {
		letter-spacing: 3px;
	}

	span {
		font-family: 'Open Sans', sans-serif;
		float: right;
		font-weight: lighter;
		letter-spacing: normal;
	}
}

.portfolio-error {
	margin-top: 100px;
}

@media (max-width: 1200px) {
	.portfolio-content {
		margin-bottom: 0;
	}

}

@media (max-width: 600px) {
	.portfolio-item-stats {
		.one-half + .one-half {
			p {
				border-top: none;
				border-bottom: solid 1px $color-soft-grey;
			}
		}
	}

	.portfolio-item-header {
		h2 {
			font-size: 3rem;
		}
	}
}

.icon-area {
	background: image_url("icon-area.png") left 46% no-repeat;
}

.icon-area-dashed {
	background: image_url("icon-area-dashed.png") left 46% no-repeat;
}

.icon-units {
	background: image_url("icon-units.png") left 46% no-repeat;
}

.icon-car {
	background: image_url("icon-car.png") left 46% no-repeat;
}

.gallery-carousel {
	.slick-list {
		padding: 0 !important;
	}
	img {
		padding-right: 20px;
	}
}