/*------------------------------------*\
	#PORTFOLIO
\*------------------------------------*/

.portfolio {
	z-index: 11; // para que o submenu fique sobre a seção de contato
}

.portfolio-items {
	margin-top: 40px;
}

.portfolio-item { 
	width: 20%;
	height: 250px;
	background: #888;
	border: solid 1px rgba(255,255,255,.4);
	display: table;
	cursor: pointer;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	&.vertical {
		height: 500px;
	}
	&:hover {
		.portfolio-mask {
			background: rgba(41,41,41,.94);
		}
		.portfolio-info {
			opacity: 1;
		}
	}
}

.portfolio-mask {
	display: table-cell;
	vertical-align: middle;
	background: #292929;
	background: rgba(0,0,0,.4);
	transition: background 800ms;
}

.portfolio-info {
	opacity: 0;
	padding: 0 10%;
	transition: opacity 800ms;
	.sub-title {
		color: $color-white;
		margin: 0;
	}
	p {
		color: $color-brand;
		font-style: italic;
		font-weight: 600;
		margin: 0;
	}
}


@media (max-width: 1279px) {
	.portfolio-item {
		width: 25%;
	}
}


@media (max-width: 1024px) {
	.portfolio-item {
		width: 33.33%;
		.portfolio-mask {
			background: rgba(41,41,41,.6);
		}
		.portfolio-info {
			opacity: 1;
		}
	}
}

@media (max-width: 768px) {
	.portfolio-item {
		width: 50%;
	}
}
@media (max-width: 430px) {
	.portfolio-item {
		width: 100%;
	}
}