/*------------------------------------*\
	#SERVICES
\*------------------------------------*/

.services {
	background-color: transparent;
}

.services-items {
	background: image_url("bg-services.jpg") center center no-repeat;
	background-size: cover;
	position: relative;
	padding: 0;
	margin: 0;
	.item {
		display: inline;
		&:nth-child(4n+1) .service-item {
			border-left: none;
		}
	}
}

.service-item {
	width: 25%;
	float: left;
	background: #292929;
	background: rgba(41,41,41,.94);
	border-left: solid 1px $color-light-grey;
	border-bottom: solid 1px $color-light-grey;
	position: relative;
	padding: 0 2%;
	display: table;
	div {
		display: table-cell;
		vertical-align: middle;
	}
	h3 {
		height: 150px;
	}
}

.service-link {
	h3 {
		color: $color-white;
	}
	&:hover h3 {
		color: $color-brand;
	}
}

.service-content {
	visibility: hidden;
	position: absolute;
	width: 100%;
	min-height: 100%;
	z-index: -1;
	opacity: 0;
	background: none;
	transition: all 400ms;
	color: $color-white;
	padding: 60px 0 20px;
	.container {
		max-width: 890px;
	}
	h3 {
		color: inherit;
		display: inline-block;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-top: 40px;
	}
}

.service-content.opened {
	visibility: visible;
	opacity: 1;
	z-index: 20;
	background: #292929;
}

@media (max-width: 1100px) {
	.service-item {
		h3 {
			font-size: 1.6rem;
		}
	}
}

@media (max-width: 900px) {
	.services-items {
		// background: none;
		.item {
			display: inline;
			&:nth-child(2n+1) .service-item {
				border-left: none;
			}
		}
	}
	.service-item {
		width: 50%;
		padding: 20px 5%;
	}
}


@media (max-width: 550px) {
	.services-items {
		background: none;
		height: auto !important;
	}

	.service-link {
		&:before,
		&:after {
		  content: '\0020';
		  display: block;
		  overflow: hidden;
		  visibility: hidden;
		  width: 0;
		  height: 0;
		}

		&:after {
		  clear: both;
		}
	}
	
	.service-item {
		width: 100%;
		padding: 0 10%;
		border-left: none;
		min-height: initial;
		text-align: left;
		h3 {
			height: initial;
			background-position: left center;
			padding: 20px 0 20px 60px;
			&.icon-project {
				padding-left: 90px;
			}
		}
	}

	.service-content.opened {
		position: relative;
		min-height: 0;
	}
}


.icon-search {
	background: image_url("icon-search.png") no-repeat;
}

.icon-project {
	background: image_url("icon-project.png") no-repeat;
}

.icon-puzzle {
	background: image_url("icon-puzzle.png") no-repeat;
}

.icon-light {
	background: image_url("icon-light.png") no-repeat;
}

.icon-top {
	background-position: center top;
	padding-top: 60px;
}

.icon-left {
	background-position: left center;
	padding-left: 60px;
	&.icon-project {
		padding-left: 90px;
	}
}

@media (max-width: 550px) {

	h3.icon-left {
		background-position: top center;
		padding-left: 0 !important;
		padding-top: 60px;
		margin: 30px 0 0;
	}

	.service-content {
		padding-top: 20px;
	}
	
	// .service-content.opened .close {
	// 	position: fixed;
	//   right: -5px;
	//   top: 85px;
	//   z-index: 50;
	//   background-size: 50%;
	// }
}