/*------------------------------------*\
	#BOX SIZING
\*------------------------------------*/

*,:after,:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}