/*------------------------------------*\
	#COLORS
\*------------------------------------*/

$color-beige: #c7c18c;
$color-brand: $color-beige;
$color-dark-grey: #434343;
$color-light-grey: #a3a3a3;
$color-white: #fff;
$color-error: #de4444;
$color-success: #679b20;

$color-menu-link: #9c9c9c;
$color-submenu-bg: #eaeaea;
$color-soft-grey: #e3e3e3;