/*------------------------------------*\
	#IE FIXES
\*------------------------------------*/

.lt-ie9,
.ie9 {
	.portfolio-lightbox {
		left: 100%;
		&.show {
			left: 0;
		}
	}
}

.lt-ie9 {
	.sticky {
	  position: absolute;
	}
}