/*------------------------------------*\
	#BUTTONS
\*------------------------------------*/

.button {
	background: $color-brand;
	color: $color-white;
	border: none;
	padding: 20px 40px;
	line-height: 1;
	display: inline-block;
	transition: all 400ms;
	&:hover {
		color: $color-white;
		background: $color-light-grey;
	}
}

.close {
  background: image_url("close.png") center center no-repeat;
  margin: 0;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: block;
  padding: 0;
  width: 48px;
  height: 48px;
  display: inline-block;
}