/*------------------------------------*\
	#CAROUSEL
\*------------------------------------*/

/* Dots */
.clients {
	.slick-slider {
		margin-bottom: 60px;
	}

	.slick-slide img {
	  display: inline-block;
	}

	.slick-dots {
		bottom: -75px;
		li {
			width: 44px;
			height: 5px;
			background: $color-dark-grey;
			transition: background-color 200ms;
			&.slick-active,
			&:hover {
				background: $color-brand;
			}
			button {
				&:before {
			    width: 44px;
			    height: 44px;
				}
			}
		}
	}
}

.slick-dots {
		position: absolute;
		display: block;
		width: 100%;
		padding: 0;
		list-style: none;
		text-align: center;
		li {
			position: relative;
			display: inline-block;
			margin: 0 5px;
			padding: 0;
			cursor: pointer;
			transition: background-color 200ms;
			button {
				&:before {
					position: absolute;
			    top: 0;
			    left: 0;

			    content: '';
			    text-align: center;
				}
				opacity: 0;
			}
		}
	}