/*------------------------------------*\
	#FORM
\*------------------------------------*/

input[type=text],
input[type=email],
input[type=tel],
textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	color: $color-dark-grey;
	padding: 7px 10px;
	background: transparent;
	border: solid 1px $color-light-grey;
	width: 100%;
	margin-bottom: 10px;
	font-style: italic;
	-webkit-appearance: none;
  border-radius: 0;
}

textarea {
	height: 120px;
}

label {
	font-style: italic;
	font-weight: lighter;
	float: left;
	margin-bottom: 2px;
}

// contactform

.error,
.error span,
.wpcf7-validation-errors {
	color: $color-error;
	border: none;
}

.wpcf7-response-output {
	padding: 15px 0 15px 55px;
	font-style: italic;
	line-height: 1.2;
	margin-bottom: 10px;
	border: none;
	text-align: left;
	display: none;
}

.wpcf7-validation-errors {
	background: image_url("icon-error.png") left center no-repeat;
	color: $color-error;
}

div.wpcf7-mail-sent-ok {
	color: $color-success;
	background: image_url("icon-success.png") left center no-repeat;
}

input.wpcf7-not-valid {
	border: 2px solid $color-error;
	padding: 6px 10px;
}

.wpcf7-not-valid-tip {
	display: none;
}

.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}