/*------------------------------------*\
  #GRID
\*------------------------------------*/

.one-half {
	width: 48%;
	margin-right: 2%;
	float: left;
	+ .one-half {
		margin-right: 0;
		margin-left: 2%;
	}
}

.one-third,
.one-quarter,
.five-twelfths {
	padding: 0 1%;
	float: left;
	margin: 0 auto;
}

.one-third {
	width: 33%;
}

.one-quarter {
	width: 25%;
}

.five-twelfths {
	width: 42%;
}

.alpha {
	padding-left: 0;
}

.omega {
	padding-right: 0;
}


@media (max-width: 600px) {
	.one-third,
	.one-quarter,
	.five-twelfths,
	.one-half {
		width: 100%;
	}

	.one-half.one-half {
		margin: 0;
	}

}