/*------------------------------------*\
	#LOADING
\*------------------------------------*/

.loading-mask {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);
	opacity: 0;
	z-index: -1;
	background: image_url("loading.gif") center center no-repeat #fff;
	transition: opacity 400ms;
	&.is-visible {
	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

	  /* IE 5-7 */
	  filter: alpha(opacity=100);
		opacity: 1;
		z-index: 100;
	}
}