/*------------------------------------*\
	#MENU
\*------------------------------------*/

.open-cat-menu {
	display: none;
}

.cat-menu {
	position: relative;
	padding: 0;
	margin: 0;
	border-bottom: solid 1px #c5c5c5;
	display: inline-block;
	li {
		list-style: none;
	}
}

.cat-menu-item {
	position: relative;
	display: inline-block;
	margin: 0 10px;
	&:first-child,
	&:last-child {
		margin: 0;
	}
}

.cat-menu-item--current {
	.cat-menu-link {
		border-bottom-color: $color-brand;
	}
	.submenu {
		visibility: visible;
		opacity: 1;
		z-index: 15;
	}
	.has-submenu:after {
		margin-top: -10px;
		border-bottom-color: #ababab;
		border-top-color: transparent;
	}
}

.cat-menu-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	color: $color-menu-link;
	text-transform: uppercase;
	padding: 5px 20px;
	position: relative;
	display: block;
	border-bottom: solid 4px transparent;
	&:hover {
		border-bottom-color: $color-brand;
	}
}

.has-submenu:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -5px;
	right: 0px;
	border: solid 5px transparent;
	border-top: solid 5px #ababab;
}

.submenu {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 70px;
	background: $color-submenu-bg;
	padding: 0 12px;
	width: 282px;
	font-size: 1.6rem;
	font-weight: lighter;
	text-align: left;
	transition: all 400ms;
	&:before {
		content: "";
		position: absolute;
		top: -20px;
		left: 20px;
		border: solid 10px transparent;
		border-bottom: solid 10px $color-submenu-bg;
	}
}

.submenu-link {
	color: $color-dark-grey;
	border-bottom: solid 1px #d5d5d5;
	display: block;
	padding: 15px 0;
}

.submenu-item:last-child .submenu-link {
	border: none;
}

@media (max-width: 640px) {
	.open-cat-menu {
		display: inline-block;
		float: left;
		color: $color-light-grey;
		border-bottom: solid 4px $color-brand;
		padding-right: 15px;
		cursor: pointer;
		&:after {
			content: "";
			position: relative;
			top: 10px;
			right: -5px;
			border: solid 5px transparent;
			border-top-color: #ababab;
		}
	}

	.cat-menu {
		position: relative;
		padding: 0;
		margin: 0;
		width: 100%;
		border: none;
		display: none;
		text-align: left;
		background: $color-submenu-bg;
		&:before {
			// content: "";
			// position: absolute;
			// top: -20px;
			// left: 20px;
			// border: solid 10px transparent;
			// border-bottom: solid 10px $color-submenu-bg;
		}
	}

	.is-open {
		&:after {
			top: -10px;
			border-bottom-color: #ababab;
			border-top-color: transparent;
		}
		+ .cat-menu {
			display: inline-block;
		}
	}

	.cat-menu-item {
		display: block;
		margin: 0;
	  transition: all 400ms;
	  &:last-child .cat-menu-link {
	  	border-bottom: none;
	  }
	}

	.has-submenu:after {
		// right: 20px;
		display: none;
	}

	.cat-menu-link {
		padding: 15px 20px;
		margin: 0 10px;
		border-bottom: solid 1px #d5d5d5;
	}

	.submenu {
		// visibility: visible;
		display: none;
		position: relative;
		top: 0;
		opacity: 1;
		width: 100%;
	  max-height: 0;
	  padding: 0 15px;
	  overflow: hidden;
	  background: #d5d5d5;
	  transition: max-height 400ms;
		&:before {
			display: none;
		}
	}

	.cat-menu-item--current {
		.cat-menu-link {
			// border-bottom-color: transparent;
		}
		.submenu {
			z-index: 20;
			max-height: 500px;
		}
	}

	.submenu-link {
		border-bottom-color: #ebebeb;
	}
}
