/*------------------------------------*\
	#PAGE
\*------------------------------------*/

html {
	font-size: 62.5%;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	line-height: 1.66;
	font-weight: 400;
	color: $color-light-grey;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

::selection {
	color: $color-dark-grey;
  background: $color-brand; /* WebKit/Blink Browsers */
}

::-moz-selection {
	color: $color-dark-grey;
  background: $color-brand; /* Gecko Browsers */
}