/*------------------------------------*\
	#SLIDE
\*------------------------------------*/

.slides {
	width: 100%;
	height: 100%;
	.slick-dots {
		bottom: 90px;
		li {
			width: 18px;
			height: 18px;
			border: solid 2px $color-brand;
			transition: all 400ms;
			&.slick-active,
			&:hover {
				background-color: $color-brand;
			}
			button {
				&:before {
			    width: 18px;
			    height: 18px;
				}
			}
		}
	}
}

.slick-list,
.slick-track {
	height: 100%;
}

.slide {
	height: 100%;
	width: 100%;
	display: table !important;
	padding-bottom: 85px;
	.slide-container {
		display: table-cell;
		vertical-align: middle;
	}
}


.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	width: 52px;
	height: 46px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	margin-top: -23px;
	padding: 0;
	border: none;
	outline: none;
	&:before {
		opacity: 1;
		width: 52px;
		height: 46px;
		display: block;
		opacity: .81;
		background-color: $color-brand;
		background-position: center center;
		background-repeat: no-repeat
	}
	&:hover, &:focus {
		outline: none;
		background: transparent;
		color: transparent;
	}
	&.slick-disabled:before {
		background-color: #646464;
		opacity: .81;
	}
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}

.slick-prev:before, 
.slick-prev:focus:before {
  content: "";
  background-image: image_url("arrow-left.png");
}

.slick-next:before, 
.slick-next:focus:before {
  content: "";
  background-image: image_url("arrow-right.png");
}

@media (max-width: 700px) {
	.slide-about {
		font-family: 'Oswald', sans-serif;
		font-size: 3.5rem;
		font-weight: normal;
		line-height: 1.35;
		letter-spacing: 2px;
		padding: 0 5px 10px;
		margin: 0;
	}

	.slide-title {
		display: none;
	}
}