/*------------------------------------*\
	#TABS
\*------------------------------------*/

.tabs {
	list-style: none;
	border-bottom: solid 1px $color-soft-grey;
	padding: 0;
	margin-top: 80px;
}

.tab-item {
	display: inline-block;
	text-transform: uppercase;
	margin-right: 50px;
	&.active {
		a {
			color: $color-brand;
			border-bottom: solid 4px;
		}
	}
	a {
		color: $color-light-grey;
	}
}