/*------------------------------------*\
	#TYPE
\*------------------------------------*/

h2,
h3 {
	font-family: 'Montserrat', sans-serif;	
	color: $color-dark-grey;
	text-transform: uppercase;
	font-weight: normal;
}

h2 {
	font-size: 4rem;
	line-height: 1.25;
}

h3 {
	font-size: 2.4rem;
}

.section-title {
	font-size: 2rem;
	line-height: 1.3;
}

.slide-title {
	font-family: 'Oswald', sans-serif;
	font-size: 6rem;
	font-weight: normal;
	line-height: 1.35;
	letter-spacing: 2px;
	color: $color-white;
	position: relative;
}

.slide-about {
	font-size: 2.4rem;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: $color-white;
	border-bottom: solid 5px;
	padding: 0 15px 20px;
	display: inline-block;
	position: relative;
}

.sub-title,
.nav-bar a,
.back {
	font-size: 1.6rem;
	line-height: 1.625;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

p {
	font-size: 1.8rem;
	font-weight: lighter;
}

a {
	color: $color-brand;
	text-decoration: none;
	transition: color 200ms;
	&:hover {
		color: $color-dark-grey;
	}
}

.link-dark {
	color: $color-dark-grey;
	&:hover {
		color: $color-brand;
	}	
}

.link-light {
	color: $color-light-grey;
	&:hover {
		color: $color-brand;
	}	
}

small {
	font-size: 1.1rem;
}