/*------------------------------------*\
	#WRAPPERS
\*------------------------------------*/

section {
	padding: 60px 0 0;
  position: relative;
  z-index: 10;
  background: $color-white;
}

.wrapper {
	height: 100%;
	position: relative;
}

.content {
	position: absolute;
	top: 100%;
	width: 100%;
	// bottom: 182px;
	z-index: 10;
}

.sections-wrapper {
	background: image_url("bg-about.jpg");
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-color: $color-white;
	margin-bottom: 182px;
}

.container {
	max-width: 1020px;
	padding: 0 20px;
	position: relative;
	margin: 0 auto;
}

.slide-container {
	max-width: 800px;
	padding: 0 20px;
	position: relative;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	.sections-wrapper {
		margin-bottom: 0;
	}

}

@media (max-width: 1100px) {
	.content {
		background-position: center top !important;
		background-size: contain;
		background-attachment: scroll;
	}
	
}
